
<div class="py-5 border-top bg-light">
  <div class="container">

    <p class="h5 mb-3">{{ site.title | escape }}</p>

    <div class="row">

      <div class="col-sm">
        <ul class="list-inline"> 
           <li class="list-inline-item"><i class="fa fa-twitter"></i></li>
           <li class="list-inline-item"><i class="fa fa-linkedin"></i></li>
           <li class="list-inline-item"><i class="fa fa-codepen"></i></li>
           <li class="list-inline-item"><i class="fa fa-github"></i></li>
        </ul>
      </div>

    </div>

  </div>
</div>
