
.article {
  @extend .border;
  @extend .pt-4;
  @extend .pr-4;
  @extend .pb-4;
  @extend .pl-4;
  @extend .bg-light;

}

.body-background {
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1000;
  opacity: 0.6;
}

.post-image {
  height: 300px;

  img {
    object-fit: contain;
    object-position: center top;
    width: 100%;
    height: 100%;
  }
}

.social-buttons {
  display: flex;
  align-items: center;
  align-content: center;

  > div {
    align-self: center;
    padding-left: 10px;
    &:first-child {
      padding-left: 0px;
    }
  }

  .social-buttons__twitter {
    height: 20px;
  }

  .social_buttons__reddit {
    height: 20px;
    > * {
      margin-top: -4px;
      display: block;
    }
  }
}

//Portfolio
.wrapper {
    background:$theme-color;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    @include box-shadow(0px 2px 4px rgba(0,0,0,0.1));
}

.sidebar-wrapper {
    background: $theme-color;
    position: absolute;
    left: 0;
    width: 240px;
    height: 100%;
    min-height: 800px;
    color: #fff;
    a {
        color: #fff;
    }
    .profile-container {
        padding: 30px;
        //background: darken($theme-color, 10%);
        background: rgba(0, 0, 0, 0.2);
        text-align: center;
        color: #fff;
    }
    .name {
        font-size: 26px;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .tagline {
        color: rgba(256, 256, 256, 0.6);
        font-size: 18px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
    }
    .profile {
        margin-bottom: 15px;
        border-radius: 100%;
    }
    .contact-list {
        .svg-inline--fa  {
            margin-right: 5px;
            font-size: 18px;
            vertical-align: middle;
        }
        li {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .email {
            .svg-inline--fa  {
                font-size: 14px;
            }
        }
    }
    .container-block {
        padding: 30px;
        .fa {
          margin-right: 6px;
        }
    }
    .container-block-title {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .degree {
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .education-container {
        .item {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .meta {
            color: rgba(256, 256, 256, 0.6);
            font-weight: 500;
            margin-bottom: 0px;
            margin-top: 0;
            font-size: 18px;
        }
        .time {
            color: rgba(256, 256, 256, 0.6);
            font-weight: 500;
            margin-bottom: 0px;
        }
    }
    .languages-container {
        .lang-desc {
            color: rgba(256, 256, 256, 0.6);
        }
    }
    
    .languages-list {
        margin-bottom: 0;
        li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    
    .interests-list {
        margin-bottom: 0;
        li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.main-wrapper {
    background: #fff;
    padding: 60px;
    padding-left: 300px;
    .section-title {
        text-transform: uppercase;
        font-size: 20px;
        color: darken($theme-color, 15%);
        position: relative;
        margin-top: 0;
        margin-bottom: 20px;
        .icon-holder  {
            width: 30px;
            height: 30px;
            margin-right: 8px;
            display: inline-block;
            color: #fff;
            @include border-radius(50%);
            background: darken($theme-color, 15%);
            text-align: center;
            font-size: 16px;
            position: relative;
            top: -5px;
            .fa {
              font-size: 14px;
              margin-top: 7px;
            }
        }

    }
    .section {
        margin-bottom: 30px;
    }
    
    .experiences-section {
        .item {
            margin-bottom: 30px;
        }
    }
    .upper-row {
        position: relative;
        overflow: hidden;
        margin-bottom: 2px;
        padding-bottom: 2px;
    }
    .job-title {
        color: $text-color;
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .time {
        position: absolute;
        right: 0;
        top: 0;
        color: $text-grey;
    }
    .company {
        margin-bottom: 10px;
        color: $text-grey;
    }
    
    .project-title {
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .projects-section {
        .intro {
            margin-bottom: 30px;
        }
        .item {
            margin-bottom: 15px;
        }
    }
    
}


.skillset {
    .item {
        margin-bottom: 15px;
        overflow: hidden;
    }
    .level-title {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 12px;
    }
    
    
    .level-bar {
        height: 12px;
        background: $smoky-white;
        @include border-radius(2px);
    }
    
    .theme-progress-bar {
      background: lighten($theme-color, 10%);
    }
}
.details ul {
    margin-left: 20px;
    li {
        list-style: disc;
    }
}
.skills-section ul li {
    list-style:  none;
    margin-right: 0.1rem !important;
    margin-bottom: 0.7rem;
    a {
        background-color: #e0e0e0;
        padding: 4px 10px;
        cursor: pointer;
        &:hover {
            color: $white !important;
            background-color: $theme-color;
        }
    }
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    
    .sidebar-wrapper {
        position: static;
        width: inherit;
    }
    
    .main-wrapper {
        padding: 30px;
    }
    
    .main-wrapper .time {
        position: static;
        display: block;
        margin-top: 5px;
    }
    
    .main-wrapper .upper-row {
        margin-bottom: 0;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    
    .skillset .level-title {
        display: inline-block;
        float: left;
        width: 30%;
        margin-bottom: 0;
    }
    
    
}
//New
body.cv{
    font-family:Roboto,Helvetica,sans-serif;
    color:#000;
    background-color:#c1c1c1;
    font-size:14px;
    line-height:1.5
}
@media print{
    body.cv{
        background-color:#fff
    }
}

.cv-page{
    width:920px;
    padding:80px 80px 60px;
    margin:80px auto;
    background-color:#fff;
    box-shadow:2px 2px 1px #606060
}
.cv-page-inner {
    position: relative;
    .download {
        position: absolute;
        top: -60px;
        right: 0;
        border: 2px solid #bb1e1e;
        padding: 5px 10px;
    }
}
@media print{
    .cv-page{
        padding:40px 80px;
        box-shadow:none
    }
}
@media (false) and (max-width:1023px){
    .cv-page{
        width:auto;
        margin:25px auto;
        padding:20px
    }
}
.cv-header{
    display:-ms-flexbox;
    display:flex;
    position: relative;
}
.cv-header-lead {
    margin-top: 10px;
}
@media (false) and (max-width:1023px){
    .cv-header{
        display:block;
        text-align:center
    }
}
.cv-header-avatar{
    float:left
}
.cv-header-avatar img{
    border-radius:2px;
    height:150px
}
@media (false) and (max-width:1023px){
    .cv-header-avatar{
        float:none;
        margin-bottom:15px
    }
    .cv-header-avatar img{
        border-radius:6px
    }
}
.cv-header-text{
    -ms-flex:1;
    flex:1;
    padding:0 15px
}
.cv-header-name{
    display:block;
    text-transform:uppercase;
    font-weight:500;
    font-size:25px;
    line-height:1;
    margin-bottom:5px;
    color:#BB1E1E
}
.cv-header-subname{
    display:block;
    text-transform:none;
    font-size:24px;
    font-weight:300;
    margin-bottom:5px;
    color:#777
}
.cv-header-meta{
    overflow:hidden;
    font-size:14px;
    color:#777;
    white-space:nowrap;
    position: absolute;
    top: 0;
    right: 0;
}
@media (false) and (max-width:1023px){
    .cv-header-meta{
        white-space:normal;
        margin-top:5px
    }
}
.cv-header-meta-left{
    float:left;
    padding-right:15px;
    text-align:right
}
@media (false) and (max-width:1023px){
    .cv-header-meta-left{
        float:none;
        padding:0;
        text-align:center
    }
}
.cv-header-meta-right{
    float:right;
    border-left:1px solid #e0e0e0;
    padding-left:15px;
    text-align:left
}
@media (false) and (max-width:1023px){
    .cv-header-meta-right{
        float:none;
        padding:0;
        text-align:center
    }
}
@media (false) and (max-width:1023px){
    .cv-header-meta-row{
        display:inline
    }
    .cv-header-meta-row+.cv-header-meta-row:before{
        content:" / "
    }
}
.cv-section{
    overflow:hidden
}
.cv-section+.cv-section{
    margin-top:1em
}
@media (false) and (max-width:767px){
    .cv-section+.cv-section{
        margin-top:40px
    }
}
.cv-section-title{
    color:#BB1E1E;
    font-size:24px;
    font-weight:300;
    padding-left:21.5%;
    margin-bottom:15px;
    page-break-after:avoid
}
@media (false) and (max-width:767px){
    .cv-section-title{
        padding-left:0
    }
}
.cv-section-content.cv-section-content--indented{
    padding-left:21.5%
}
@media (false) and (max-width:767px){
    .cv-section-content.cv-section-content--indented{
        padding-left:0
    }
}
.cv-section-content ol,.cv-section-content ul:not(.tech-tags){
    padding-left:20px
}
.cv-tech-tags {
    padding-left: 0;
    margin-bottom: 0 !important;
    li {
    display: inline-block;
    list-style:  none;
    margin-right: 0.1rem !important;
    margin-bottom: 0.7rem;
    a {
        background-color: #e0e0e0;
        padding: 4px 10px;
        cursor: pointer;
        &:hover {
            color: $white !important;
        }
    }
}
}
.cv-tech-tags a{
    background-color:#e0e0e0;
    color:inherit
}
.cv-tech-tags a:hover{
    text-decoration:none;
    background-color:#BB1E1E;
    color:#fff
}
.cv-timeline-row{
    overflow:hidden;
    page-break-inside:avoid
}
.cv-timeline-row+.cv-timeline-row{
    margin-top:15px
}
@media (false) and (max-width:767px){
    .cv-timeline-row+.cv-timeline-row{
        margin-top:30px
    }
}
.cv-timeline-side{
    float:left;
    width:21.5%;
    text-align:right;
    padding-right:15px;
    color:#777;
    font-size:13px
}
@media (false) and (max-width:767px){
    .cv-timeline-side{
        float:none;
        width:auto;
        text-align:left;
        margin-bottom:10px
    }
}
.cv-timeline-body{
    float:left;
    width:78.5%
}
@media (false) and (max-width:767px){
    .cv-timeline-body{
        float:none;
        width:auto
    }
}
.cv-timeline-body p,.cv-timeline-body ul{
    margin-top:5px;
    margin-bottom:5px
}
.cv-timeline-company{
    background-color:#eee;
    padding:3px 7px;
    text-transform:uppercase;
    margin-bottom:5px;
    border-radius:2px
}
@media print{
    .cv-timeline-company{
        background:0 0;
        padding:0;
        font-size:14px;
        margin-bottom:0
    }
}
@media (false) and (max-width:767px){
    .cv-timeline-company{
        padding:7px
    }
}
.cv-timeline-position{
    font-weight:400;
    font-size:18px;
    color:#333;
    margin-bottom: 1rem !important;
}
.cv-section.edu .cv-timeline-body {
    padding-left:21.5%;
}
//Projects
.page-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.project-item {
  .project-item-img {}
  .project-item-description {
    h4, div {
        margin-bottom: 1rem;
    }
  }
  @media (min-width: 992px) {
    .project-item-title {
      position: relative;
      z-index: 1;
      margin-bottom: -3rem;
    }
    .project-item-img {
      position: relative;
      z-index: 0;
      max-width: 60vw;
    }
    .project-item-description {
      position: relative;
      z-index: 1;
      margin-top: -3rem;
      max-width: 50vw;
    }
  }
}