---
layout: default
---

<div>

  {%- if page.title -%}
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  {%- endif -%}

  <section>
    {{ content }}
  </section>
    <div class="wrapper">
      <div class="sidebar-wrapper">
          <div class="profile-container">
              <img class="profile" src="assets/img/avatar.jpg" alt="" />
              <h1 class="name">Thai Thi Yen Nhi</h1>
              <h3 class="tagline">Front-end Developer</h3>
          </div><!--//profile-container-->
          
          <div class="contact-container container-block">
              <ul class="list-unstyled contact-list">
                <li class="phone"><i class="fa fa-birthday-cake"></i>19/05/1988</li>
                  <li class="email"><i class="fa fa-envelope"></i><a href="mailto: nhithai88@email.com">nhithai88@gmail.com</a></li>
                  <li class="phone"><i class="fa fa-phone"></i><a href="tel:0974833783">0974 833 783</a></li>
                  <li class="phone"><i class="fa fa-globe"></i><a href="https://nhidev.github.io">nhidev.github.io</a></li>
              </ul>
              <ul class="list-inline d-none"> 
                 <li class="list-inline-item"><a href="https://www.linkedin.com/in/nhi-thai-b69b7535" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                 <li class="list-inline-item"><a href="https://codepen.io/nhithai"><i class="fa fa-codepen" target="_blank"></i></a></li>
                 <li class="list-inline-item"><a href="https://github.com/nhidev"><i class="fa fa-github" target="_blank"></i></a></li>
              </ul>
          </div><!--//contact-container-->
          <div class="education-container container-block">
              <h2 class="container-block-title">Education</h2>
              <div class="item">
                  <h4 class="degree">Bachelor of Science</h4>
                  <h5 class="meta">Hutech University</h5>
                  <div class="time">2012 - 2013</div>
              </div><!--//item-->
              <div class="item">
                  <h4 class="degree">Associate of Science </h4>
                  <h5 class="meta">Hoa Sen University</h5>
                  <div class="time">2006 - 2009</div>
              </div><!--//item-->
          </div><!--//education-container-->
          
          <div class="languages-container container-block">
              <h2 class="container-block-title">Languages</h2>
              <ul class="list-unstyled interests-list">
                  <li>English <span class="lang-desc">(advanced)</span></li>
              </ul>
          </div><!--//interests-->
          
          <div class="interests-container container-block">
              <h2 class="container-block-title">Interests</h2>
              <ul class="list-unstyled interests-list">
                  <li>Languages and foreign cultures</li>
                  <li>Sports, outdoor actives</li>
              </ul>
          </div><!--//interests-->
          
      </div><!--//sidebar-wrapper-->
      
      <div class="main-wrapper">
          
          <section class="section summary-section">
              <h2 class="section-title"><span class="icon-holder"><i class="fa fa-user"></i></span>Career Objective</h2>
              <div class="summary">
                  <p>With a strong technical skill-set, attention to detail, and 4+ years of experience, I want to work as a front-end web developer where I could create digital magic and elevate user experience to the next level.
</p>
              </div><!--//summary-->
          </section><!--//section-->
          
          <section class="section experiences-section">
              <h2 class="section-title"><span class="icon-holder"><i class="fa fa-briefcase"></i></span>Experiences</h2>
              
              <div class="item">
                  <div class="meta">
                      <div class="upper-row">
                          <h3 class="job-title">Front-end Developer</h3>
                          <div class="time">2017 - 2018</div>
                      </div><!--//upper-row-->
                      <div class="company">RedWeb, Viet Nam</div>
                  </div><!--//meta-->
                  <div class="details">
                      <p>Building and implementing designs in Joomla websites (B2C, B2B). Maintenance, upgrade Joomla, our cores are compatible with newest Joomla version. Support customers, report status to project leader and work by project management tools and task on Atlassian.</p>  
                  </div><!--//details-->
              </div><!--//item-->
              
              <div class="item">
                  <div class="meta">
                      <div class="upper-row">
                          <h3 class="job-title">Front-end Developer</h3>
                          <div class="time">2016 - 2017</div>
                      </div><!--//upper-row-->
                      <div class="company">1PAC, Viet Nam</div>
                  </div><!--//meta-->
                  <div class="details">
                      <p> Develop web's user interfaces from PSD/Sketch designs, refactoring code and delivering products with high quality, write code that runs cross browsers, research trending technologies and apply it to real production.</p>
                  </div><!--//details-->
              </div><!--//item-->
              
              <div class="item">
                  <div class="meta">
                      <div class="upper-row">
                          <h3 class="job-title">Web Developer</h3>
                          <div class="time">2014 - 2016</div>
                      </div><!--//upper-row-->
                      <div class="company">Canon Le Bao Minh,  Viet Nam</div>
                  </div><!--//meta-->
                  <div class="details">
                      <p>Converted Photoshop layouts to web pages, Wordpress installation, perform website maintenance and enhancements, maintain consistency in design and layout, perform browser testing and debugging, support SEO.

</p>  
                  </div><!--//details-->
              </div><!--//item-->

               <div class="item">
                  <div class="meta">
                      <div class="upper-row">
                          <h3 class="job-title">Data Agent</h3>
                          <div class="time">2011 - 2013</div>
                      </div><!--//upper-row-->
                      <div class="company">Skunkworks, Viet Nam</div>
                  </div><!--//meta-->
                  <div class="details">
                      <p>Collect, verify data from multiple sources like Yelp, Foursquare, Opentable, Goodle+ ... to build a social network application, support team.</p>  
                  </div><!--//details-->
              </div><!--//item-->

               <div class="item">
                  <div class="meta">
                      <div class="upper-row">
                          <h3 class="job-title">Data Agent</h3>
                          <div class="time">2010 - 2011</div>
                      </div><!--//upper-row-->
                      <div class="company">Swiss Post,  Viet Nam</div>
                  </div><!--//meta-->
                  <div class="details">
                      <p>Insert customer and account data by inputting text based and numerical information from source documents, compile, verify accuracy and sort information according to priorities to prepare source data for computer entry, review data for deficiencies or errors, correct any incompatibilities if possible and check output.
</p>  
                  </div><!--//details-->
              </div><!--//item-->
              
          </section><!--//section-->
          
    
          <section class="skills-section section">
              <h2 class="section-title"><span class="icon-holder"><i class="fa fa-rocket"></i></span>Skills &amp; Proficiency</h2>
              <div class="skillset">        
                
                  <div class="item">
                      <h3 class="level-title">HTML5 &amp; CSS</h3>
                      <div class="progress level-bar">
                <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </div>                                
                  </div><!--//item-->

                  <div class="item">
                      <h3 class="level-title">Bootstrap</h3>
                      <div class="progress level-bar">
                          <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>                                 
                  </div><!--//item-->
                  
                  <div class="item">
                      <h3 class="level-title">Javascript &amp; jQuery</h3>
                      <div class="progress level-bar">
                          <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>                              
                  </div><!--//item-->
                   <div class="item">
                      <h3 class="level-title">ReactJS</h3>
                      <div class="progress level-bar">
                          <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>                              
                  </div><!--//item-->
                  
                   <div class="item">
                      <h3 class="level-title">Joomla</h3>
                      <div class="progress level-bar">
                              <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>                                
                  </div><!--//item-->
                   <div class="item">
                      <h3 class="level-title">Wordpress</h3>
                      <div class="progress level-bar">
                              <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>                                
                  </div><!--//item-->
                  
                  <div class="item">
                      <h3 class="level-title">Sketch &amp; Photoshop</h3>
                      <div class="progress level-bar">
              <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>                                 
                  </div><!--//item-->
                  
              </div>  
          </section><!--//skills-section-->
          
      </div><!--//main-body-->
  </div>  
 

</div>
