---
layout: default
---

<div>

  {%- if page.title -%}
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  {%- endif -%}

  <section>
    {{ content }}
  </section>

  {%- if site.posts.size > 0 -%}

<section class="page-section">
      <div class="container">
        <div class="project-item">
          <div class="project-item-title d-flex">
            <div class="bg-light p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">Jevith A/S</span>
              </h2>
            </div>
          </div>
          <img class="project-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/assets/img/project-01.jpg" alt="">
          <div class="project-item-description d-flex mr-auto">
            <div class="bg-light p-5 rounded">
              <h4>About Project</h4>
              <div>Create website from Photoshop visual design and wireframes, include CMS and ecommerce platform.
</div>
              <h4>Client</h4>
<div>Jevith A/S</div>
<h4>Launch Project</h4>
<div class="g_newLine"><a href="http://www.jevith.dk" target="_blank">http://www.jevith.dk</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="page-section">
      <div class="container">
        <div class="project-item">
          <div class="project-item-title d-flex">
            <div class="bg-light p-5 d-flex mr-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">EAST Electricity - Electrical refrigeration Co., LTD</span>
              </h2>
            </div>
          </div>
          <img class="project-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/assets/img/project-02.jpg" alt="">
          <div class="project-item-description d-flex ml-auto">
            <div class="bg-light p-5 rounded">
<h4>About Project</h4>
              <div>Create and set up multiple language website from Photoshop visual design and wireframes, using CMS.</div>
              <h4>Client</h4>
<div>EAST Electricity - Electrical refrigeration Co., LTD</div>
<h4>Launch Project</h4>
<div class="g_newLine"><a href="http://east-engineering.net" target="_blank">http://east-engineering.net</a></div>
              
            </div>
          </div>
        </div>
      </div>
    <section class="page-section">
      <div class="container">
        <div class="project-item">
          <div class="project-item-title d-flex">
            <div class="bg-light p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">KIRARA INSURANCE SERVICE CO.LTD</span>
              </h2>
            </div>
          </div>
          <img class="project-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/assets/img/project-03.jpg" alt="">
          <div class="project-item-description d-flex mr-auto">
            <div class="bg-light p-5 rounded">
              <h4>About Project</h4>
              <div>Undertook full-site renewal of KIRARA INSURANCE SERVICE,
              We made the site visual which feels a warm and hand-made to express "Itsumo mijika ni anshin wo (Always by yourself, for your relief)", the company's vision.
</div>
              <h4>Client</h4>
<div>KIRARA INSURANCE SERVICE CO.LTD
</div>
<h4>Launch Project</h4>
<div class="g_newLine"><a href="http://www.ki-ra-ra.jp/" target="_blank">http://www.ki-ra-ra.jp/</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="page-section">
      <div class="container">
        <div class="project-item">
          <div class="project-item-title d-flex">
            <div class="bg-light p-5 d-flex mr-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">Mitsubishi Electric "From ME"</span>
              </h2>
            </div>
          </div>
          <img class="project-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/assets/img/project-04.jpg" alt="">
          <div class="project-item-description d-flex ml-auto">
            <div class="bg-light p-5 rounded">
<h4>About Project</h4>
              <div>Created "from ME", a new category designated for a corporate PR, for the corporate site of Mitsubishi Electric Corporation.</div>
              <h4>Client</h4>
<div>Mitsubishi Electric Corporation</div>
<h4>Launch Project</h4>
<div class="g_newLine"><a href="http://www.mitsubishielectric.co.jp/me/" target="_blank">http://www.mitsubishielectric.co.jp/me/</a></div>
              
            </div>
          </div>
        </div>
      </div>
    </section>

 

  {%- endif -%}

</div>
