---
layout: default
---

<div>

  {%- if page.title -%}
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  {%- endif -%}

  <section>
    {{ content }}
  </section>

    <div class="cv">

      
      <div class="cv-page">
      <div class="cv-page-inner">
      <a href="resume.pdf" download class="download">Download</a>
    <div class="cv-section cv-header">
      <div class="cv-header-avatar">
        <img src="assets/img/avatar.jpg">
      </div>
      <div class="cv-header-text">
        <h1 class="cv-header-name">Thai Thi Yen Nhi</h1>
        <h2 class="cv-header-subname">Front-end Developer</h2>
        <div class="cv-header-lead">
         With a strong technical skill-set, attention to detail, and 4+ years of experience, I want to work as a front-end web developer where I could create digital magic and elevate user experience to the next level.
        </div>
      </div>
      <div class="cv-header-meta">
        <!-- <div class="cv-header-meta-left">
          <div class="cv-header-meta-row cv-header-meta-location">
            Poznań, Poland
          </div>
        </div> -->
        <div class="cv-header-meta-right">
          <div class="cv-header-meta-row">
            <a href="mailto:nhithai88@gmail.com">nhithai88@gmail.com</a>
          </div>
          <div class="cv-header-meta-row">
            +84 974 833 783
          </div>
          <div class="cv-header-meta-row">
            <a href="https://nhidev.github.io/">nhidev.github.io</a>
          </div>
        </div>
      </div>
    </div>

    <div class="cv-section">
      <h3 class="cv-section-title">Experience</h3>
      <div class="cv-section-content">
        <div class="cv-timeline">

          <div class="cv-timeline-row">
            <div class="cv-timeline-side">
              <div class="cv-timeline-company">redWeb</div>
              <div class="cv-timeline-date">9/2017 - 6/2018</div>
              <a href="https://redweb.vn/">redweb.vn</a>
            </div>
            <div class="cv-timeline-body">
              <h4 class="cv-timeline-position">Front-end Developer</h4>
             <ul>
                  <li>Create, modify websites for Joomla CMS and our ecommerce platform.</li>
                  <li>Upgrade client sites (ecommerce platform, Joomla CMS).</li>
                  <li>Fix front end related bugs that were identified in QA, beta and production environments.</li>
                  <li>Attend wire frame review, design and html code walkthrough meetings.</li> 
              </ul>
            </div>
          </div><div class="cv-timeline-row">
            <div class="cv-timeline-side">
              <div class="cv-timeline-company">1PAC</div>
              <div class="cv-timeline-date">08/2016 - 06/2017</div>
              <a href="http://www.1pac.vn/en/">1pac.vn</a>
            </div>
            <div class="cv-timeline-body">
              <h4 class="cv-timeline-position">Front-end Developer</h4>
              <ul>
                 <li>Develop HTML/CSS templates from Photoshop visual design and wireframes.</li>
                <li> Refactor code and delivering products with high quality, write code that runs cross browsers.</li>
                <li>Research trending technologies and apply it to real production.</li>   
              </ul>
            </div>
          </div>

          <div class="cv-timeline-row">
            <div class="cv-timeline-side">
              <div class="cv-timeline-company">Canon Le Bao Minh</div>
              <div class="cv-timeline-date">05/2014 - 07/2016</div>
              <a href="https://lebaominh.vn/">lebaominh.vn</a>
            </div>
            <div class="cv-timeline-body">
              <h4 class="cv-timeline-position">Web Developer</h4>
              <ul>
                 <li>Create, modify websites for WordPress CMS.</li>
                  <li>Used jquery to build accordion style content, drag and drop functionality, calendar, popup and modal windows</li>
                  <li>Cross-browser compatible by writing W3C validated Semantic XHTML.</li>
                  <li>Responsible for solving page layout issues.</li>
                  <li>Monitored the web analysis reports to view the performance of the company websites.</li>
          
              </ul>
            </div>
          </div>

    


        </div>
      </div>
    </div>

    <div class="cv-section">
      <h3 class="cv-section-title">Skills</h3>
      <div class="cv-section-content cv-section-content--indented">
        <ul class="cv-tech-tags tech-tags">
          <li class="list-inline-item"><a rel="nofollow" target="_blank"> HTML</a></li>
          <li class="list-inline-item"><a rel="nofollow" target="_blank"> CSS</a></li>
          <li class="list-inline-item"><a rel="nofollow" target="_blank"> SASS</a></li>
          <li class="list-inline-item"><a rel="nofollow" target="_blank">JavaScript</a></li>
          <li class="list-inline-item"><a rel="nofollow" target="_blank"> Bootstrap</a></li>
          <li class="list-inline-item"><a rel="nofollow" target="_blank"> jQuery</a></li>
          <li class="list-inline-item"><a rel="nofollow" target="_blank">Grunt</a></li>
          <li class="list-inline-item"><a rel="nofollow" target="_blank">Joomla</a></li>
          <li class="list-inline-item"><a rel="nofollow" target="_blank">Wordpress</a></li>
          <li class="list-inline-item"><a rel="nofollow" target="_blank">Photoshop</a></li>
          <li class="list-inline-item"><a rel="nofollow" target="_blank">Github</a></li>
          <li class="list-inline-item"><a rel="nofollow" target="_blank">Jira</a></li>
        </ul>
      </div>
    </div>

    <div class="cv-section edu">
      <h3 class="cv-section-title">Education</h3>
      <div class="cv-section-content">
        <div class="cv-timeline">
          <div class="cv-timeline-row">
            <div class="cv-timeline-body">
              <p>Associate of Science from Hoa Sen University (2009)</p>
              <p>Bachelor of Science from Hutech University (2013)</p>            
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cv-section edu">
      <h3 class="cv-section-title">Language</h3>
      <div class="cv-section-content">
        <div class="cv-timeline">
          <div class="cv-timeline-row">
            <div class="cv-timeline-body">
              <p>English (intermediate)</p>            
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>    
          
      </div><!--//main-body-->
  </div>  
 

</div>
